[submodule "sorc/wxflow"]
  path = sorc/wxflow
  url = https://github.com/NOAA-EMC/wxflow
[submodule "sorc/verif-global.fd"]
  path = sorc/verif-global.fd
  url = https://github.com/NOAA-EMC/EMC_verif-global.git
[submodule "sorc/gdas.cd"]
  path = sorc/gdas.cd
  url = https://github.com/NOAA-EMC/GDASApp.git
  ignore = dirty
[submodule "sorc/gsi_monitor.fd"]
  path = sorc/gsi_monitor.fd
  url = https://github.com/NOAA-EMC/GSI-Monitor.git
[submodule "sorc/shield_utils.fd"]
	path = sorc/shield_utils.fd
	url = https://github.com/MingjingTong-NOAA/shield_utils.git
[submodule "sorc/gfs_utils.fd"]
	path = sorc/gfs_utils.fd
	url = https://github.com/NOAA-EMC/gfs-utils.git
	branch = gfdl_shield
[submodule "sorc/ufs_utils.fd"]
	path = sorc/ufs_utils.fd
	url = https://github.com/MingjingTong-NOAA/UFS_UTILS.git
	branch = gfdl_shield
[submodule "sorc/gsi_utils.fd"]
	path = sorc/gsi_utils.fd
	url = https://github.com/MingjingTong-NOAA/GSI-utils.git
	branch = gfdl_shield
[submodule "sorc/shield.fd/SHiELD_build"]
	path = sorc/shield.fd/SHiELD_build
	url = https://github.com/MingjingTong-NOAA/SHiELD_build.git
	branch = shield_da
[submodule "sorc/gsi_enkf.fd"]
	path = sorc/gsi_enkf.fd
	url = https://github.com/MingjingTong-NOAA/GSI.git
	branch = gfdl_shield
[submodule "sorc/nexus.fd"]
  path = sorc/nexus.fd
  url = https://github.com/NOAA-OAR-ARL/NEXUS.git
  branch = feature/gcafs
[submodule "sorc/ufs_model.fd"]
	path = sorc/ufs_model.fd
	url = https://github.com/ufs-community/ufs-weather-model
	ignore = dirty
