enkf:
    name: "ENKF"
    target:
        tarball:
            {% if RUN == 'enkfgdas' %}
               {% if ANAL_START %}
                  "{{ FETCHDIR }}/{{ cycle_YMDH }}/{{ RUN }}.tar"
               {% else %}
                  "{{ FETCHDIR }}/{{ pcycle_YMDH }}/{{ RUN }}.tar"
               {% endif %}
            {% else %}
               "{{ FETCHDIR }}/{{ pcycle_YMDH }}/enkfgdas.tar"
            {% endif %} 
        on_hpss: True
        contents:
            # Ensemble mean
            {% if RUN == 'enkfgdas' %}
               {% for fhr in range(3, fhmax + 1, 3) %}
               {% if ANAL_START %}
               - "{{ COMIN_ATMOS_HISTORY_ENSSTAT | relpath(ROTDIR) }}/{{ head }}ensmean.atm.f{{ '%03d' % fhr }}.nc"
               - "{{ COMIN_ATMOS_HISTORY_ENSSTAT | relpath(ROTDIR) }}/{{ head }}ensmean.sfc.f{{ '%03d' % fhr }}.nc"
               {% else %}
               - "{{ COMIN_ATMOS_HISTORY_PREV_ENSSTAT | relpath(ROTDIR) }}/{{ phead }}ensmean.atm.f{{ '%03d' % fhr }}.nc"
               - "{{ COMIN_ATMOS_HISTORY_PREV_ENSSTAT | relpath(ROTDIR) }}/{{ phead }}ensmean.sfc.f{{ '%03d' % fhr }}.nc"
               {% endif %}
               {% endfor %}
            {% else %}
               - "{{ COMIN_ATMOS_HISTORY_PREV_ENSSTAT | relpath(ROTDIR) }}/{{ ephead }}ensmean.sfc.f006.nc"
            {% endif %}
        destination: "{{ SAVEDIR }}"
