enkf_grp:
    name: "ENKF_GRP"
    target:
        tarball: "{{ FETCHDIR }}/{{ pcycle_YMDH }}/{{ RUN }}_grp{{ ENSGRP }}.tar"
        on_hpss: True
        contents:
            {% for mem in range(first_group_mem, last_group_mem + 1) %}
            {% set imem = mem - first_group_mem %}
            # Construct member COM directories
            {% set COMIN_ATMOS_HISTORY_PREV_MEM = COMIN_ATMOS_HISTORY_PREV_MEM_list[imem] %}

            {% for fhr in range(EFHMIN, EFHMAX, 1) %}
            - "{{ COMIN_ATMOS_HISTORY_PREV_MEM | relpath(ROTDIR) }}/{{ phead }}atmf{{ "%03d" % fhr }}.nc"
            {% endfor %}
            {% endfor %}  # first_group_mem to last_group_mem
        destination: "{{ ENSDIR }}"
