enkf:
    name: "ENKF"
    target:
        tarball:
            {% if ANAL_START %}
            "{{ FETCHDIR }}/{{ cycle_YMDH }}/{{ RUN }}.tar"
            {% else %}
            "{{ FETCHDIR }}/{{ pcycle_YMDH }}/{{ RUN }}.tar"
            {% endif %}
        on_hpss: True
        contents:
            # Ensemble mean
            {% for fhr in range(3, fhmax + 1, 3) %}
            {% if ANAL_START %}
            - "{{ COMIN_ATMOS_HISTORY_ENSSTAT | relpath(ROTDIR) }}/{{ head }}atmf{{ '%03d' % fhr }}.ensmean.nc"
            - "{{ COMIN_ATMOS_HISTORY_ENSSTAT | relpath(ROTDIR) }}/{{ head }}sfcf{{ '%03d' % fhr }}.ensmean.nc"
            {% else %}
            - "{{ COMIN_ATMOS_HISTORY_PREV_ENSSTAT | relpath(ROTDIR) }}/{{ phead }}atmf{{ '%03d' % fhr }}.ensmean.nc"
            - "{{ COMIN_ATMOS_HISTORY_PREV_ENSSTAT | relpath(ROTDIR) }}/{{ phead }}sfcf{{ '%03d' % fhr }}.ensmean.nc"
            {% endif %}
            {% endfor %}
        destination: "{{ ENSDIR }}"
