gdas:
    name: "GDAS"
    target:
        tarball: "{{ FETCHDIR }}/{{ pcycle_YMDH }}/{{ RUN }}.tar"
        on_hpss: True
        contents:
            # Analysis state
            - "{{ COMIN_ATMOS_ANALYSIS_PREV | relpath(ROTDIR) }}/{{ phead }}radstat.tar"
            {% if EXPABIAS %}
            - "{{ COMIN_ATMOS_ANALYSIS_PREV | relpath(ROTDIR) }}/{{ phead }}abias.txt"
            - "{{ COMIN_ATMOS_ANALYSIS_PREV | relpath(ROTDIR) }}/{{ phead }}abias_air.txt"
            - "{{ COMIN_ATMOS_ANALYSIS_PREV | relpath(ROTDIR) }}/{{ phead }}abias_pc.txt"
            {% endif %}

            {% for fhr in range(FHMIN, FHMAX + 1, FHOUT) %}
               {% set fhr3 = '%03d' % fhr %}
            # Raw netCDF forecasts
            - "{{ COMIN_ATMOS_HISTORY_PREV | relpath(ROTDIR) }}/{{ phead }}atm.f{{ fhr3 }}.nc"
            - "{{ COMIN_ATMOS_HISTORY_PREV | relpath(ROTDIR) }}/{{ phead }}sfc.f{{ fhr3 }}.nc"
            {% endfor %}
        destination: "{{ SAVEDIR }}"
